In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('credito8.csv', header=None)

# Set the correct column names
column_names = [
    'age', 'sex', 'dependants', 'scholarity', 'marital_status', 'annual_wage', 
    'card_type', 'products_amount', 'transactions_12m', 'months_inactive_12m', 
    'credit_limit', 'transactions_value_12m', 'transactions_amount_12m'
]
df.columns = column_names

# Display the dataframe
df

,age,sex,dependants,scholarity,marital_status,annual_wage,card_type,products_amount,transactions_12m,months_inactive_12m,credit_limit,transactions_value_12m,transactions_amount_12m
0,45,M,3,ensino medio,casado,$60K - $80K,blue,5,3,1,12691.51,1144.90,42
1,49,F,5,mestrado,solteiro,menos que $40K,blue,6,2,1,8256.96,1291.45,33
2,51,M,3,mestrado,casado,$80K - $120K,blue,4,0,1,3418.56,1887.72,20
3,40,F,4,ensino medio,na,menos que $40K,blue,3,1,4,3313.03,1171.56,20
4,40,M,3,sem educacao formal,casado,$60K - $80K,blue,5,0,1,4716.22,816.08,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559,34,M,1,na,casado,$60K - $80K,blue,3,3,2,3890.30,1889.41,51
2560,55,M,3,mestrado,solteiro,$80K - $120K,blue,6,3,2,17198.56,4042.73,62
2561,53,M,4,ensino medio,casado,$120K +,blue,6,4,3,3401.79,1924.55,54
2562,37,M,1,na,casado,$60K - $80K,blue,6,2,1,18951.70,2874.56,58
2563,58,F,3,na,solteiro,$40K - $60K,blue,4,1,1,1454.01,3060.14,56

In [66]:
df['annual_wage'].unique()

array(['$60K - $80K', 'menos que $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'na'], dtype=object)

In [67]:
# Dictionary for translations
scholarity_translation = {
    'ensino medio': 'high school',
    'mestrado': "master's degree",
    'sem educacao formal': 'no formal education',
    'na': 'not applicable',
    'graduacao': 'graduation',
    'doutorado': 'doctorate'
}

marital_status_translation = {
    'casado': 'married',
    'solteiro': 'single',
    'na': 'not applicable',
    'divorciado': 'divorced'
}

annual_wage_translation = {
    'menos que $40K': 'less than $40K',
    '$60K - $80K': '$60K - $80K',
    '$80K - $120K': '$80K - $120K',
    '$40K - $60K': '$40K - $60K',
    '120K +': '120K +',
    'na': 'not applicable'
}

# Apply translations
df['scholarity'] = df['scholarity'].map(scholarity_translation)
df['marital_status'] = df['marital_status'].map(marital_status_translation)
df['annual_wage'] = df['annual_wage'].map(annual_wage_translation)

In [68]:
df

,age,sex,dependants,scholarity,marital_status,annual_wage,card_type,products_amount,transactions_12m,months_inactive_12m,credit_limit,transactions_value_12m,transactions_amount_12m
0,45,M,3,high school,married,$60K - $80K,blue,5,3,1,12691.51,1144.90,42
1,49,F,5,master's degree,single,less than $40K,blue,6,2,1,8256.96,1291.45,33
2,51,M,3,master's degree,married,$80K - $120K,blue,4,0,1,3418.56,1887.72,20
3,40,F,4,high school,not applicable,less than $40K,blue,3,1,4,3313.03,1171.56,20
4,40,M,3,no formal education,married,$60K - $80K,blue,5,0,1,4716.22,816.08,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559,34,M,1,not applicable,married,$60K - $80K,blue,3,3,2,3890.30,1889.41,51
2560,55,M,3,master's degree,single,$80K - $120K,blue,6,3,2,17198.56,4042.73,62
2561,53,M,4,high school,married,NaN,blue,6,4,3,3401.79,1924.55,54
2562,37,M,1,not applicable,married,$60K - $80K,blue,6,2,1,18951.70,2874.56,58
2563,58,F,3,not applicable,single,$40K - $60K,blue,4,1,1,1454.01,3060.14,56

In [69]:
df['annual_wage'].unique()

array(['$60K - $80K', 'less than $40K', '$80K - $120K', '$40K - $60K',
       nan, 'not applicable'], dtype=object)

In [80]:
df.to_csv('credit8_clean.csv', index=False, header=False)